<!DOCTYPE html>
html
	head
		title 
			| #{title}
		style
			| #{stylestring}
		link(REL="SHORTCUT ICON" HREF="/favico.ico")
		script(src="/javascripts/jquery-1.11.2.min.js")
		script(src="/javascripts/parseUtils.js")
		- if(deviceOs =='iOS'){
		script(src='/javascripts/iosfns.js')
		- }
		- else{
		script(src='/javascripts/genericfns.js' style="text-align:center")
		-}
		- if(serveQuicktime){
		script(src='http://www.apple.com/library/quicktime/scripts/ac_quicktime.js')
		script(src='http://www.apple.com/library/quicktime/scripts/qtp_library.js')
		link(rel='stylesheet',href='http://www.apple.com/library/quicktime/stylesheets/qtp_library.css')
		- }
		- else if(!iswirelessdevice){
		link(rel='stylesheet' href='/styles/video-js.css')
		script(src='/javascripts/video.js')
		script.
			videojs.options.flash.swf="/javascripts/video-js.swf"
		-}
		-if(autoreportprogress){
			script.
				$.getScript("http://www.parsecdn.com/js/parse-1.2.13.min.js",function(){
				Parse.initialize("UBibVG5WBbXwa658BS1yVfCONmw3YKCRvpjx3wqy", "c7Ks1BrdmgWylo6wIP526DO67ne2E0HgD7TiYGPa");
				reportProgress(!{projectid},!{assetassemblyid},-1,true);
				})
		-}

	body(style='margin:0px')
		-if(!iswirelessdevice){

			div(id="nwrapper" class='dimple-body' style='margin:0 auto;width:800px;text-align:center')
				include header
				script.
					var isWirelessDevice=false;
				include body
		-}
		- else{
			include header
			script.
				var isWirelessDevice=true;
			include body
		- }
		
			
		